* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button {
  border: none;
  font-size: inherit;
  font-family: inherit;
}

button, input[type="submit"] {
  background: none;
  cursor: pointer;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #323232;
}

img {
  display: block;
  max-width: 100%;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.6875;
  color: #323232;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.container--fluid {
  max-width: unset;
  width: 100%;
}
.container--no-padding {
  padding: 0;
}

.none {
  display: none;
}

@media (max-width: 1100px) {
  p {
    font-size: calc(14px + (16 - 14) * (100vw - 320px) / (1100 - 320));
  }
}
.nav {
  padding: 35px 0;
}
.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__btn {
  display: none;
  position: relative;
}
.nav__btn-container {
  width: 37px;
  height: 18.5px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}
.nav__btn-container span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #323232;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .3s ease-in;
}
.nav__btn-container span:nth-child(1) {
  transform-origin: left center;
  top: 0px;
}
.nav__btn-container span:nth-child(2) {
  transform-origin: left center;
  top: 9px;
}
.nav__btn-container span:nth-child(3) {
  transform-origin: left center;
  top: 18.5px;
}

@media (max-width: 770px) {
  .nav__btn {
    display: block;
  }
}
.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.logo img {
  margin-right: 5px;
}

.navigation__list {
  display: flex;
  column-gap: 42px;
}
.navigation.open .navigation__list {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 10;
  padding: 46px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  font-size: 34px;
  font-weight: 600;
}
.navigation.open .nav__btn {
  z-index: 11;
}
.navigation.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -5px;
  left: 5px;
}
.navigation.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.navigation.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 20.5px;
  left: 5px;
}
.navigation a {
  color: inherit;
  text-decoration: none;
  transition: .2s linear;
}
.navigation a:hover {
  color: #F78434;
}
.navigation a.active {
  color: #F78434;
  font-weight: 700;
}

@media (max-width: 1100px) {
  .navigation__list {
    column-gap: calc(20px + (42 - 20) * (100vw - 770px) / (1100 - 770));
  }
}
@media (max-width: 770px) {
  .navigation.open .navigation__list {
    row-gap: calc(15px + (40 - 15) * (100vw - 320px) / (770 - 320));
    font-size: calc(28px + (34 - 28) * (100vw - 320px) / (770 - 320));
  }
  .navigation__list {
    display: none;
  }
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__text {
  max-width: 465px;
}
.header__text p {
  margin-bottom: 42px;
  line-height: 1.6875;
}
.header__title {
  margin-bottom: 25px;
  margin-right: -160px;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.46;
  position: relative;
  z-index: 9;
}
.header__img {
  max-width: 540px;
}
.header__img img {
  border-radius: 40px 40px 40px 0;
  width: 100%;
}

@media (max-width: 1100px) {
  .header__title {
    font-size: calc(20px + (54 - 20) * (100vw - 320px) / (1100 - 320));
  }
}
@media (max-width: 770px) {
  .header__row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__text {
    order: 2;
    max-width: unset;
  }
  .header__title {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .header__img {
    margin-bottom: 10px;
    max-width: 465px;
    order: 1;
  }
}
.form {
  background: #FFFFFF;
  box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  height: 58px;
  transition: box-shadow .2s ease-in;
}
.form--active {
  box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.27);
}
.form__label {
  padding-left: 72px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.form__label::before {
  content: "";
  display: block;
  width: 24px;
  height: 19px;
  background-image: url("./../img/icons/mail.svg");
  position: absolute;
  top: 20px;
  left: 28px;
}
.form__input {
  flex-grow: 1;
  margin-right: 10px;
}
.form__input::placeholder {
  color: #BBB;
}
.form__button-mobile.button {
  display: none;
}

@media (max-width: 770px) {
  .form {
    font-size: calc(14px + (16 - 14) * (100vw - 320px) / (770 - 320));
  }
}
@media (max-width: 400px) {
  .form {
    margin-bottom: 10px;
  }
  .form .button {
    display: none;
  }
  .form__button-mobile.button {
    display: inline-block;
  }
}
.button {
  display: inline-block;
  padding: 18px 40px;
  border-radius: 29px;
  background-color: #F78434;
  line-height: 1.5;
  font-weight: 700;
  color: #fff;
  transition: background-color .2s ease-in;
}
.button:hover {
  background-color: #ff6a00;
}
.button--white {
  background-color: #fff;
  color: #323232;
  transition: background-color .2s ease-in, color .2s ease-in;
}
.button--white:hover {
  background-color: #323232;
  color: #fff;
}
.button--play {
  position: relative;
}
.button--play::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: url(./../img/icons/play.svg) no-repeat;
  background-size: initial;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 770px) {
  .button {
    padding: calc(14px + (18 - 14) * (100vw - 320px) / (770 - 320)) calc(24px + (40 - 24) * (100vw - 320px) / (770 - 320));
    font-size: calc(14px + (16 - 14) * (100vw - 320px) / (770 - 320));
  }
}
.clients {
  padding-top: 100px;
  padding-bottom: 45px;
}

.clients__row {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 1100px) {
  .clients {
    padding-top: calc(30px + (100 - 30) * (100vw - 320px) / (1100 - 320));
    padding-bottom: calc(30px + (45 - 30) * (100vw - 320px) / (1100 - 320));
  }
}
@media (max-width: 550px) {
  .clients__row img {
    max-width: calc(130px + (230 - 130) * (100vw - 320px) / (550 - 320));
  }
}
.objects {
  padding-top: 45px;
  padding-bottom: 80px;
}
.objects__row {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
@media (max-width: 1495px) {
  .objects__row {
    justify-content: flex-end;
  }
}
.objects__img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.objects__text {
  max-width: 693px;
  padding-left: 181px;
  flex-shrink: 0;
  padding-right: 150px;
}
.objects__text p + p {
  margin-top: 20px;
}
.objects__title {
  margin-bottom: 20px;
}
.objects__button {
  margin-top: 40px;
}

@media (max-width: 1100px) {
  .objects {
    padding-top: calc(10px + (45 - 10) * (100vw - 320px) / (1100 - 320));
    padding-bottom: calc(20px + (80 - 20) * (100vw - 320px) / (1100 - 320));
  }
  .objects__text {
    max-width: calc(297px + (497 - 297) * (100vw - 320px) / (1100 - 320));
    padding-left: calc(15px + (71 - 15) * (100vw - 320px) / (1100 - 320));
    padding-right: calc(15px + (67 - 15) * (100vw - 320px) / (1100 - 320));
  }
}
@media (max-width: 500px) {
  .objects__img {
    display: none;
  }
  .objects__text {
    max-width: 100%;
  }
}
.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.476;
}

@media (max-width: 1100px) {
  .title {
    font-size: calc(20px + (42 - 20) * (100vw - 320px) / (1100 - 320));
  }
}
.img-card {
  position: relative;
  width: 385px;
}
.img-card + .img-card {
  margin-left: 32px;
}
.img-card__img {
  border-radius: 20px 20px 0px 20px;
}
.img-card--rounder .img-card__img {
  border-radius: 20px;
}
.img-card__info {
  position: absolute;
  bottom: 87px;
  right: -46px;
}

.card-info {
  display: flex;
  align-items: center;
  padding: 30px;
  background: #fff;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
}
.card-info__icon {
  margin-right: 20px;
}
.card-info__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.cta {
  padding: 70px 0;
}
.cta__block {
  background-color: #58BEBF;
  color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}
.cta__img {
  margin-top: 60px;
  padding: 25px 25px 0 0;
  background-color: #fff;
  border-top-right-radius: 21.6px;
}
.cta__text {
  padding-left: 95px;
  width: 555px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(./../img/cta/oval-bottom-left.svg) no-repeat bottom left -186px, url(./../img/cta/oval-top-right.svg) no-repeat top right;
}
.cta__text p {
  width: 320px;
}
.cta__title {
  margin-bottom: 15px;
}
.cta__buttons-row {
  margin-top: 30px;
  display: flex;
  column-gap: 20px;
}

@media (max-width: 1100px) {
  .cta {
    padding: calc(30px + (70 - 30) * (100vw - 320px) / (1100 - 320)) 0;
  }
}
@media (max-width: 770px) {
  .cta__block {
    padding: calc(20px + (30 - 20) * (100vw - 320px) / (770 - 320)) 0;
    flex-wrap: wrap;
  }
  .cta__img {
    margin: 0 calc(15px + (30 - 15) * (100vw - 320px) / (770 - 320)) calc(15px + (30 - 15) * (100vw - 320px) / (770 - 320)) 0;
    width: 100%;
    border-radius: 0 21.6px 21.6px 0;
  }
  .cta__text {
    width: 100%;
    padding: unset;
    align-items: center;
    background: none;
  }
  .cta__text p {
    max-width: 100%;
    padding: 0 15px;
  }
  .cta__buttons-row {
    column-gap: calc(10px + (20 - 10) * (100vw - 320px) / (770 - 320));
  }
}
.serve {
  padding-bottom: 120px;
  position: relative;
}
.serve__heading {
  margin-bottom: 45px;
  text-align: center;
}
.serve__heading .title {
  margin-bottom: 10px;
}
.serve__row {
  display: flex;
  justify-content: space-between;
  align-items: strech;
  column-gap: 30px;
}
.serve::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #F5F6FA;
  position: absolute;
  top: -50%;
  bottom: 50%;
  left: 0;
  z-index: -1;
}

@media (max-width: 1100px) {
  .serve {
    padding-bottom: calc(45px + (120 - 45) * (100vw - 320px)/(1100 - 320));
  }
}
@media (max-width: 550px) {
  .serve__row {
    flex-wrap: wrap;
    row-gap: 40px;
  }
}
.card-customer {
  padding: 40px 88px;
  background: #FFFFFF;
  box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: all .2s linear;
}
.card-customer:hover {
  background: #F78434;
  color: #FFF;
}
.card-customer:hover .button {
  background-color: #fff;
}
.card-customer:hover .card-customer__icon {
  fill: #fff;
}
.card-customer__text {
  margin-bottom: 25px;
}
.card-customer__icon {
  margin-bottom: 15px;
  fill: #F78434;
  transition: all .2s linear;
}
.card-customer__button {
  background-color: unset;
  color: #F78434;
}

@media (max-width: 1100px) {
  .card-customer {
    padding: calc(20px + (40 - 20) * (100vw - 550px) / (1100 - 550)) calc(44px + (88 - 44) * (100vw - 550px) / (1100 - 550));
  }
}
.benefits {
  padding-bottom: 110px;
}
.benefits__heading {
  padding-bottom: 58px;
  text-align: center;
}
.benefits__row {
  display: flex;
  justify-content: space-between;
  column-gap: 35px;
}

@media (max-width: 1000px) {
  .benefits {
    padding-bottom: calc(45px + (110 - 45) * (100vw - 320px)/(1000 - 320));
  }
  .benefits__item {
    max-width: 255px;
  }
  .benefits__row {
    max-width: 600px;
    margin: 0 auto;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: center;
  }
}
.benefits-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.benefits-item__img {
  margin-bottom: 15px;
}
.benefits-item__img circle {
  fill: rgba(88, 190, 191, 0.2);
  transition: fill .2s linear;
}
.benefits-item__img path, .benefits-item__img ellipse {
  fill: #58BEBF;
  transition: fill .2s linear;
}
.benefits-item:hover .benefits-item__img circle {
  fill: #F78434;
}
.benefits-item:hover .benefits-item__img path, .benefits-item:hover .benefits-item__img ellipse {
  fill: #fff;
}
.benefits-item__title {
  margin-bottom: 2px;
  color: #323232;
  font-size: 28px;
}

@media (max-width: 1100px) {
  .benefits-item__title {
    font-size: calc(20px + (28 - 20) * (100vw - 320px) / (1100 - 320));
  }
}
.testimonials {
  padding: 60px 0;
}
.testimonials__heading {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials__title {
  max-width: 452px;
}
.testimonials__subtitle {
  max-width: 400px;
}
.testimonials__row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  position: relative;
}
.testimonials__row:after {
  content: "";
  position: absolute;
  right: -40px;
  top: -40px;
  width: 80px;
  height: 80px;
  background: url(./../img/testimonials/design-element.svg) no-repeat;
}

@media (max-width: 1250px) {
  .testimonials__row {
    gap: calc(15px + (30 - 15) * (100vw - 770px) / (1250 - 770));
  }
  .testimonials__row::after {
    display: none;
  }
  .testimonials__heading {
    margin-bottom: calc(30px + (60 - 30) * (100vw - 320px) / (1250 - 320));
  }
}
@media (max-width: 770px) {
  .testimonials {
    padding: 0;
  }
  .testimonials__row {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .testimonials__heading {
    flex-wrap: wrap;
    row-gap: 10px;
  }
}
.card-testimonial {
  border-radius: 10px;
  max-width: 350px;
  overflow: hidden;
  transition: .2s ease-in;
}
.card-testimonial:hover {
  box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.08);
}
.card-testimonial:hover .card-testimonial__btn-play {
  transform: translateY(0);
  opacity: 1;
}
.card-testimonial:hover .card-testimonial__city {
  color: #F78434;
}
.card-testimonial__body {
  padding: 30px;
}
.card-testimonial__body p:first-child {
  margin-bottom: 23px;
}
.card-testimonial__name {
  font-size: 18px;
  font-weight: 700;
}
.card-testimonial__city {
  color: #58BEBF;
  transition: .2s ease-in;
}
.card-testimonial__wrapper {
  position: relative;
}
.card-testimonial__btn-play {
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: .2s ease-in;
  transform: translateY(25%);
  opacity: 0;
}
.card-testimonial__btn-play circle {
  fill: #fff;
  transition: .2s linear;
}
.card-testimonial__btn-play path {
  fill: #F78434;
  transition: .2s linear;
}
.card-testimonial__btn-play:hover circle {
  fill: #F78434;
}
.card-testimonial__btn-play:hover path {
  fill: #fff;
}

@media (max-width: 1250px) {
  .card-testimonial__body {
    padding: calc(10px + (30 - 10) * (100vw - 770px) / (1250 - 770));
  }
}
@media (max-width: 770px) {
  .card-testimonial__body {
    padding: 10px;
  }
}
.contacts {
  background: url("./../img/contacts/contacts-bg.svg") no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.contacts__container {
  display: flex;
  align-items: flex-end;
  column-gap: 170px;
}
.contacts__img {
  z-index: 10;
}
.contacts__title {
  margin-bottom: 15px;
}
.contacts__text {
  margin-bottom: 30px;
  max-width: 306px;
}
.contacts__info {
  padding-bottom: 55px;
  max-width: 360px;
  color: #fff;
}
.contacts__button {
  background-color: #fff;
  color: #323232;
  transition: .2s ease-in;
}
.contacts__button:hover {
  color: #fff;
}
.contacts:before {
  content: '';
  display: block;
  width: 743px;
  height: 372px;
  background-image: url("./../img/contacts/contacts-oval.svg");
  background-size: initial;
  position: absolute;
  bottom: 0;
  left: 45%;
}

@media (max-width: 1100px) {
  .contacts__container {
    column-gap: calc(0px + (170 - 0) * (100vw - 770px)/(1100 - 770));
  }
}
@media (max-width: 770px) {
  .contacts__info {
    padding-top: 150px;
  }
}
@media (max-width: 550px) {
  .contacts__img {
    display: none;
  }
}
.footer {
  padding: 85px 0;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.footer__logo {
  margin-bottom: 15px;
}
.footer__info {
  max-width: 300px;
}
.footer__info-text {
  margin-bottom: 40px;
}
.footer img {
  transition: .2s linear;
}
.footer__socials {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.footer__socials a:hover img {
  transform: scale(1.2);
}
.footer__nav {
  display: flex;
  column-gap: 85px;
}
.footer__nav-block {
  font-size: 14px;
}
.footer__nav-block-title {
  margin-bottom: 18px;
  font-size: 21px;
  font-weight: 700;
}
.footer__nav-block a {
  transition: .2s ease-in;
}
.footer__nav-block a:hover {
  color: #F78434;
}
.footer__nav-block li + li {
  margin-top: 13px;
}

@media (max-width: 1100px) {
  .footer {
    padding: calc(30px + (85 - 30) * (100vw - 320px)/(1100 - 320)) 0;
  }
  .footer__nav {
    column-gap: calc(30px + (85 - 30) * (100vw - 770px)/(1100 - 770));
  }
}
@media (max-width: 770px) {
  .footer__row {
    flex-direction: column;
    row-gap: 40px;
  }
  .footer__info {
    order: 2;
  }
  .footer__nav {
    order: 1;
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  .footer__nav {
    flex-wrap: wrap;
    justify-content: unset;
    gap: 25px;
  }
  .footer__info {
    order: 1;
  }
  .footer__nav {
    order: 2;
  }
}
