html, body {
  font-family: 'Poppins', sans-serif;
  font-style: 16px;
  line-height: 1.6875;
  color: $black-color;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;

  &--fluid {
    max-width: unset;
    width: 100%;
  }
  &--no-padding {
    padding: 0;
  }
}

.none {
  display: none;
}