.contacts {
  background: url('./../img/contacts/contacts-bg.svg')no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

  &__container {
    display: flex;
    align-items: flex-end;
    column-gap: 170px;
  }

  &__img {
    z-index: 10;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 30px;
    max-width: 306px;
  }

  &__info {
    padding-bottom: 55px;
    max-width: 360px;
    color: #fff;
  }

  &__button {
    background-color: #fff;
    color: $black-color;
    transition: .2s ease-in;

    &:hover {
      color: #fff;
    }
  }

  &:before {
    content: '';
    display: block;
    width: 743px;
    height: 372px;
    background-image: url('./../img/contacts/contacts-oval.svg');
    background-size: initial;

    position: absolute;
    bottom: 0;
    left: 45%;
  }

}

@media(max-width: 1100px) {

  .contacts {

    &__container {
      column-gap: calc(0px + (170 - 0) * (100vw - 770px)/(1100 - 770));
    }

  }

}

@media(max-width: 770px) {

  .contacts {

    &__info {
      padding-top: 150px;
    }

  }

}

@media(max-width: 550px) {

  .contacts {

    &__img {
      display: none;
    }

  }

}



