.cta {
  padding: 70px 0;

  &__block {
    background-color: #58BEBF;
    color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
  }

  &__img {
    margin-top: 60px;
    padding: 25px 25px 0 0;
    background-color: #fff;
    border-top-right-radius: 21.6px;
  }

  &__text {
    padding-left: 95px;
    width: 555px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background:
      url(./../img/cta/oval-bottom-left.svg) no-repeat bottom left -186px,
      url(./../img/cta/oval-top-right.svg) no-repeat top right;

    p {
      width: 320px;
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__buttons-row {
    margin-top: 30px;
    display: flex;
    column-gap: 20px;

  }

}

@media(max-width: 1100px) {
  .cta {
    padding: calc(30px + (70 - 30) * (100vw - 320px) / (1100 - 320)) 0;
  }
}

@media(max-width: 770px) {

  .cta {

    &__block {
      padding: calc(20px + (30 - 20) * (100vw - 320px) / (770 - 320)) 0;

      flex-wrap: wrap;
    }

    &__img {
      margin: 0 calc(15px + (30 - 15) * (100vw - 320px) / (770 - 320))
                calc(15px + (30 - 15) * (100vw - 320px) / (770 - 320)) 0;
      width: 100%;

      border-radius: 0 21.6px 21.6px 0;
    }

    &__text {
      width: 100%;
      padding: unset;

      align-items: center;
      background: none;

      p {
        max-width: 100%;
        padding: 0 15px;
      }
    }

    &__buttons-row {
      column-gap: calc(10px + (20 - 10) * (100vw - 320px) / (770 - 320));
    }

  }

}