.header {

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    max-width: 465px;
  }

  &__text p {
    margin-bottom: 42px;
    line-height: 1.6875;
  }

  &__title {
    margin-bottom: 25px;
    margin-right: -160px;
    font-weight: 700;
    font-size: 54px;
    line-height: 1.46;

    position: relative;
    z-index: 9;
  }

  &__img {
    max-width: 540px;
  }

  &__img img {
    border-radius: 40px 40px 40px 0;
    width: 100%;
  }
}

@media(max-width: 1100px) {

  .header {

    &__title {
      font-size: calc(20px + (54 - 20) * (100vw - 320px) / (1100 - 320));
    }

  }

}

@media(max-width: 770px) {

  .header {

    &__row {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__text {
      order: 2;
      max-width: unset;
    }

    &__title {
      margin-right: 0;
      margin-bottom: 10px;
    }

    &__img {
      margin-bottom: 10px;
      max-width: 465px;
      order: 1;
    }

  }

}