.navigation {

  &__list {
    display: flex;
    column-gap: 42px;
  }

  &.open .navigation__list {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(255, 255, 255);

    z-index: 10;

    padding: 46px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    font-size: 34px;
    font-weight: 600;
  }

  &.open .nav__btn {
    z-index: 11;
  }

  &.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -5px;
    left: 5px;
  }

  &.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  &.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 20.5px;
    left: 5px;
  }



  a {
    color: inherit;
    text-decoration: none;
    transition: .2s linear;

    &:hover {
      color: $accent-color;

    }

    &.active {
      color: $accent-color;
      font-weight: 700;
    }
  }
}

@media(max-width: 1100px) {

  .navigation {

    &__list {
      column-gap: calc(20px + (42 - 20) * (100vw - 770px) / (1100 - 770));
    }

  }

}

@media(max-width: 770px) {

  .navigation {

    &.open .navigation__list{
      row-gap: calc(15px + (40 - 15) * (100vw - 320px) / (770 - 320));
      font-size: calc(28px + (34 - 28) * (100vw - 320px) / (770 - 320));
    }

    &__list {
      display: none;

    }
  }

}