.testimonials {
  padding: 60px 0;
  &__heading {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    max-width: 452px;
  }
  &__subtitle {
    max-width: 400px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      right: -40px;
      top: -40px;

      width: 80px;
      height: 80px;
      background: url(./../img/testimonials/design-element.svg) no-repeat;
    }
  }
}

@media(max-width: 1250px) {

  .testimonials {

    &__row {
      gap: calc(15px + (30 - 15) * (100vw - 770px) / (1250 - 770));

      &::after {
        display: none;
      }

    }

    &__heading {
      margin-bottom: calc(30px + (60 - 30) * (100vw - 320px) / (1250 - 320));
    }

  }

}

@media(max-width: 770px) {

  .testimonials {
    padding: 0;

    &__row {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    &__heading {
      flex-wrap: wrap;
      row-gap: 10px;
    }

  }

}